@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeueBebasNeue"),
    url("./fonts/BebasNeue-Regular.tff") format("tff");
}
@font-face {
  font-family: "ChivoMono";
  src: local("ChivoMono"),
    url("./ChivoMono-Italic-VariableFont_wght.tff") format("tff"),
    url("./ChivoMono-VariableFont_wght.tff") format("tff");
}
