:root {
  // fonte
  --title: BebasNeue;
  --body: ChivoMono;
}

body {
  display: flex;
}

#root {
  background-color: #0D051E;
  width: 100vw;
}

#tooltip {
  position: relative;
}

#tooltip>*p,
#tooltip>*span {
  white-space: nowrap;
  visibility: hidden;
  background-color: rgba(72, 72, 72, 0.5);
  position: absolute;
  bottom: 110%;
  border-radius: 12px;
  padding: 4px 20px;
  font-family: chivo-mono;
  font-size: 20px;
  color: rgb(241, 241, 246);
}

#tooltip:hover>*p,
#tooltip:hover>*span {
  visibility: visible;
}

#warning-position {
  animation: warning-in 0.7s ease-in, warning-out 0.7s ease-out;
  animation-delay: 0s, 4.4s;
}

@keyframes warning-in {
  0% {
    z-index: -1;
    transform: translateX(580px);
  }

  100% {
    z-index: 10;
    transform: translateX(0px);
  }
}

@keyframes warning-out {
  0% {
    z-index: 10;
    transform: translateX(0px);
  }

  100% {
    z-index: -1;
    transform: translateX(580px);
  }
}

#carousel-item,
div[id^="slider-item-"] {
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes fade-out {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

#dialog[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 0.5s ease-out;
}

#dialog-parent-div {
  @media(max-width: 769px) {
    h1 {
      font-size: 24px;
      line-height: 32px;
    }

    h2 {
      font-size: 20px;
      line-height: 28px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

p>a {
  text-decoration: underline !important;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(149, 149, 166) !important;
  cursor: pointer;
}

p>a[activated] {
  color: rgb(77, 55, 105) !important;
}

.highlight {
  animation: blink 0.5s infinite alternate;
}

@keyframes blink {
  from {
    scale: 1;
  }

  to {
    scale: 1.05;
  }
}

#arrow-down {
  position: absolute;
  top: 13px;
  right: 15px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#arrow-down[opened] {
  top: 16px;
  transform: rotate(225deg);
}