:root {
  // fonte
  --title: BebasNeue;
  --body: ChivoMono;
}

#margin-left,
#margin-right {
  flex: 1;
  z-index: 100;
  background-color: white;
}

body {
  display: flex;
}

#root {
  max-width: 1440px;
  width: 1440px;
}

#tooltip {
  position: relative;
}

#tooltip > *p,
#tooltip > *span {
  white-space: nowrap;
  visibility: hidden;
  background-color: rgba(72, 72, 72, 0.5);
  position: absolute;
  bottom: 110%;
  border-radius: 12px;
  padding: 4px 20px;
  font-family: chivo-mono;
  font-size: 20px;
  color: rgb(241, 241, 246);
}

#tooltip:hover > *p,
#tooltip:hover > *span {
  visibility: visible;
}

#warning-position {
  animation: warning-in 0.7s ease-in, warning-out 0.7s ease-out;
  animation-delay: 0s, 4.4s;
}

@keyframes warning-in {
  0% {
    z-index: -1;
    transform: translateX(580px);
  }
  100% {
    z-index: 10;
    transform: translateX(0px);
  }
}

@keyframes warning-out {
  0% {
    z-index: 10;
    transform: translateX(0px);
  }
  100% {
    z-index: -1;
    transform: translateX(580px);
  }
}

// teste

#carousel-item {
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
